<div class="empty-layout" data-options="dxLayout : { name: 'empty', controller: 'empty' } " >
    <div class="content" data-options="dxContentPlaceholder : { name: 'content', transition: 'slide' } " >
        <div class="load-panel" data-bind="dxLoadPanel: { visible: true, shading: false, targetContainer: false }"></div>
    </div>
</div>