﻿.slideout-layout {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slideout-layout .load-panel.dx-loadpanel-content {
    background: transparent;
    border: none;
}

.slideout-layout .layout-header {
    position: absolute;
    width: 100%;
    top: 0;
    height: 72px;
}

.slideout-layout .layout-content {
    position: absolute;
    top: 72px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.slideout-layout .layout-content > div[data-options] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.slideout-layout .view-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slideout-layout .layout-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 200;
}

.slideout-layout .layout-frame,
.slideout-layout .layout-frame .layout-header,
.slideout-layout .layout-frame .layout-header .dx-toolbar {
    border-radius: 4px 4px 0 0;
}


/* navigation */
.slideout-layout .navigation-list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.slideout-layout .nav-patrial-view {
    height: 100%;
}

.slideout-layout .navigation-list .dx-list .dx-list-item .dx-navigation-item {
    line-height: 24px;
    height: 24px;
	color:#f2f2f2;
}

.slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon {
    float: left;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}


/* iOS */
.slideout-layout .navigation-list .dx-list {
    background: none;
/*    border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    min-height: 0;
}

.slideout-layout .navigation-list .dx-list .dx-list-item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    color: #E8EEF4;
    text-shadow: 0 1px rgba(48, 48, 48, .6);
    font-size: 14pt;
}

.slideout-layout .navigation-list .dx-list .dx-list-item.dx-state-disabled {
    opacity:0.6;
}

.dx-theme-ios .slideout-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
}

.dx-theme-ios .slideout-layout .view-toolbar-bottom {
    margin-bottom: 10px;
}

.dx-theme-ios .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-left {
    right: 0;
}

.dx-theme-ios .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-left .dx-button {
    position: absolute;
    left: 10px;
    right: 10px;
}
.dx-theme-ios .slideout-layout .layout-header {
    height: 73px;
	margin-bottom:30px;
}
.dx-theme-ios .slideout-layout .layout-content {
    top: 73px;
}

.dx-theme-ios .slideout-layout .view-footer .dx-toolbar {
    height: 57px;
}

.dx-theme-ios .slideout-layout .view-footer .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios .slideout-layout .view-footer .dx-button {
    width: 97%;
    overflow: visible;
}

.dx-theme-ios .slideout-layout .view-footer .dx-button .dx-button-content{
    height: 44px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dx-theme-ios .slideout-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* iOS7 */
.dx-theme-ios7 .slideout-layout .layout-frame {
    -moz-box-shadow: -15px 0 20px rgba(0,0,0,.05);
    -webkit-box-shadow: -15px 0 20px rgba(0,0,0,.05);
    box-shadow: -15px 0 20px rgba(0,0,0,.05);
}


.dx-theme-ios7 .slideout-layout .navigation-list .dx-list {
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 0;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item {
    color: #000;
    font-size: 14px;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item:after {
    left: 49px;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item:before {
    content: ' ';
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #cbcbcb;
    border-right: 2px solid #cbcbcb;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -6px;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon {
    margin-right: 10px;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item.dx-state-active {
    background: rgba(1,122,255,.2);
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item.dx-state-disabled {
    opacity:0.6;
}

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
}

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom {
    margin-bottom: 10px;
}

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-left {
    right: 0;
}

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-left .dx-button {
    position: absolute;
    left: 10px;
    right: 10px;
}
.dx-theme-ios7 .slideout-layout .layout-header {
    height: 73px;
	margin-bottom: 30px;
}
.dx-theme-ios7 .slideout-layout .layout-content {
    top: 73px;
   background-image:url(/content/images/bg.png);
	
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-toolbar {
    height: 57px;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-button {
    width: 97%;
    overflow: visible;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-button .dx-button-content{
    height: 44px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* Android */
.dx-theme-android .slideout-layout .layout-content.has-toolbar-bottom {
    bottom: 43px;
}

.dx-theme-android .slideout-layout .dx-toolbar.layout-toolbar-bottom {
    position: absolute;
    bottom: 0;
}

.dx-theme-android .slideout-layout .layout-content {
    top: 72px;
}

/* Windows phone 8 */

.dx-theme-win8 .slideout-layout .layout-content {
    top: 70px;
    background-image: url("/content/images/bg.png");
}

.dx-theme-win8 .slideout-layout .layout-content.has-toolbar-bottom {
    overflow: hidden;
    bottom: 40px;
}

.dx-theme-win8 .slideout-layout .dx-toolbar.layout-toolbar-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.dx-theme-win8 .slideout-layout .dx-toolbar.layout-toolbar-bottom.semi-hidden {
    margin-bottom: -20px;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.dx-theme-win8 .slideout-layout .dx-toolbar {
}

.dx-theme-win8phone .slideout-layout .dx-toolbar {
}

.dx-theme-win8 .slideout-layout .layout-header .dx-toolbar {
    /*opacity: 1;
    height: 45px;
    background: #000;*/
}
.adSpaceSide{
    /*background: url(../../content/images/Side200x89.gif) no-repeat center center;*/
	height:89px;
	margin: 0% auto;
}