/*!
* DevExpress PhoneJS
* Version: 13.1.6
* Build date: Aug 13, 2013
*
* Copyright (c) 2012 - 2013 Developer Express Inc. ALL RIGHTS RESERVED
* EULA: http://phonejs.devexpress.com/EULA
*/html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:transparent;
	font-family:Calibri
}
html, body {
	width:100%;
	height:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
body {
	background:#fff
}
.dx-viewport, .dx-hidden-bag {
	width:100%;
	height:100%
}
.dx-hidden-bag {
	top:-9999px;
	left:-9999px;
	position:fixed
}
blockquote, q {
	quotes:none
}
a {
	color:#818181
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
h1 {
	padding:20px 0 0 20px;
	font-size:120%;
	color:#226494
}
ul, ol {
	padding:20px 20px 0 20px;
	font-size:100%;
	color:#226494
}
ol {
	padding:20px 10px 0 40px
}
.gamePlayul {
	padding:5px
}
ol ul {
	padding-top:5px;
	padding-bottom:5px
}
ul li {
	list-style:disc inside none
}
p {
	padding:20px 20px 0 20px;
	font-size:100%;
	color:#226494
}
.footer {
	background-color:#3591d6;
	color:#b4dcfa;
	width:100%;
	padding:2px;
	font-size:80%
}
.footer a {
	color:#b4dcfa !important
}
.dx-transition-inner-wrapper {
	position:absolute;
	overflow:hidden
}
.dx-transition-outer-wrapper {
	position:relative;
	overflow:hidden
}
.dx-transition-inner-wrapper>* {
	height:100%
}
.dx-clearfix:before, .dx-clearfix:after {
	display:table;
	line-height:0;
	content:""
}
.dx-clearfix:after {
	clear:both
}
.dx-translate-disabled {
	-webkit-transform:none !important;
	-moz-transform:none !important;
	-ms-transform:none !important;
	-o-transform:none !important;
	transform:none !important
}
.dx-hidden-input {
	position:fixed;
	left:-10px;
	top:-10px;
	width:0;
	height:0
}
.dx-user-select {
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	-o-user-select:text;
	user-select:text
}
.dx-widget {
	padding:0;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-content-zooming:none;
	-webkit-text-size-adjust:none
}
.dx-widget.dx-state-invisible {
	display:none !important
}
.dx-fieldset {
	margin-bottom:20px
}
.dx-fieldset .dx-field {
	padding:.4em;
	position:relative
}
.dx-fieldset .dx-field:before, .dx-fieldset .dx-field:after {
	display:table;
	line-height:0;
	content:""
}
.dx-fieldset .dx-field:after {
	clear:both
}
.dx-fieldset .dx-field-label {
	float:left;
	width:40%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.dx-fieldset .dx-field-value {
	width:90%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	margin:0
}
.dx-button {
	display:inline-block;
	margin:1px 0;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	max-width:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-button1 {
	background-color:#efe95f;
	color:#385487;
	border:0;
	-webkit-box-shadow:2px 2px 2px 0 #4e87b1;
	-moz-box-shadow:2px 2px 2px 0 #4e87b1;
	-ms-box-shadow:2px 2px 2px 0 #4e87b1;
	-o-box-shadow:2px 2px 2px 0 #4e87b1;
	box-shadow:2px 2px 2px 0 #4e87b1;
	padding:6px;
	background:#efe95f url(/content/images/arrow.png) no-repeat 95% 9px
}
.blue .dx-button2, .yellow .dx-button2 {
	cursor:pointer;
	background-color:#226494;
	color:#fff;
	border:0;
	padding:2px;
	padding-top:0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px
}
.yellow .dx-button2 {
	background-color:#630
}
.dx-button2 .dx-button-text {
	font-size:9pt;
	font-family:Calibri;
	font-weight:bold;
	color:#fff;
	padding:0 2px;
	display:inline;
	text-shadow:0 -1px 0 rgba(0, 0, 0, .5)
}
.dx-button .dx-button-content {
	text-overflow:ellipsis;
	overflow:hidden;
	max-height:100%
}
.dx-button.dx-state-disabled {
	cursor:default
}
.dx-button .dx-button-link {
	text-decoration:none
}
.dx-button .dx-icon {
	display:inline-block;
	vertical-align:middle
}
.dx-button .dx-button-text {
	display:inline;
	vertical-align:middle
}
.dx-scrollable {
	height:100%
}
.dx-scrollable-container {
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
	-ms-touch-action:none;
	-webkit-tap-highlight-color:transparent
}
.dx-scrollable-content {
	position:relative;
	min-height:100%;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translate3d(0, 0, 0)
}
.dx-scrollable-content:before, .dx-scrollable-content:after {
	display:table;
	line-height:0;
	content:""
}
.dx-scrollable-content:after {
	clear:both
}
.dx-scrollable-content-horizontal {
	float:left;
	display:block
}
.dx-scrollable-scrollbar {
	position:absolute
}
.dx-scrollable-scroll {
	position:relative;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translate3d(0, 0, 0)
}
.dx-scrollable-scrollbar-vertical {
	top:0;
	right:0;
	width:9px
}
.dx-scrollable-scrollbar-horizontal {
	left:0;
	bottom:0;
	height:9px
}
.dx-scrollable-scrollbar.dx-state-disabled {
	display:none
}
.dx-swipeable {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-scrollview-pull-down {
	width:100%;
	height:50px;
	padding-top:30px;
	top:-80px;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-scrollview-pull-down .dx-scrollview-pull-down-container {
	display:inline-block;
	width:49%;
	text-align:right
}
.dx-scrollview-pull-down.dx-scrollview-pull-down-loading .dx-scrollview-pull-down-image {
	display:none
}
.dx-scrollview-pull-down.dx-scrollview-pull-down-loading .dx-scrollview-pull-down-indicator {
	display:inline-block;
	margin:0 40px;
	width:20px;
	height:23px;
	line-height:30px;
	padding-top:7px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-scrollview-pull-down .dx-scrollview-pull-down-indicator {
	display:none
}
.dx-scrollview-pull-down-image {
	display:inline-block;
	vertical-align:middle;
	margin:0 40px;
	width:20px;
	height:50px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	-webkit-transform:translate3d(0, 0, 0) rotate(0);
	-moz-transform:translate3d(0, 0, 0) rotate(0);
	-ms-transform:translate3d(0, 0, 0) rotate(0);
	-o-transform:translate3d(0, 0, 0) rotate(0);
	transform:translate3d(0, 0, 0) rotate(0);
	-ms-transform:rotate(0);
-webkit-transition:-webkit-transform .2s linear;
-moz-transition:-moz-transform .2s linear;
-o-transition:-o-transform .2s linear;
transition:transform .2s linear
}
.dx-scrollview-pull-down-text {
	display:inline;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-scrollview-pull-down-ready .dx-scrollview-pull-down-image {
	-webkit-transform:translate3d(0, 0, 0) rotate(-180deg);
	-moz-transform:translate3d(0, 0, 0) rotate(-180deg);
	-ms-transform:translate3d(0, 0, 0) rotate(-180deg);
	-o-transform:translate3d(0, 0, 0) rotate(-180deg);
	transform:translate3d(0, 0, 0) rotate(-180deg);
	-ms-transform:rotate(-180deg)
}
.dx-scrollview-content {
	position:relative
}
.dx-scrollview-content:before, .dx-scrollview-content:after {
	display:table;
	line-height:0;
	content:""
}
.dx-scrollview-content:after {
	clear:both
}
.dx-scrollview-scrollbottom .dx-scrollview-scrollbottom-indicator {
	height:23px;
	line-height:30px;
	padding-top:7px;
	margin:0 10px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-scrollview-scrollbottom .dx-scrollview-scrollbottom-indicator {
	display:inline-block;
	margin-left:0
}
.dx-scrollview-scrollbottom.dx-scrollview-scrollbottom-end .dx-scrollview-scrollbottom-indicator {
	display:none
}
.dx-scrollview-scrollbottom-text {
	display:inline;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-scrollview-scrollbottom {
	width:100%;
	padding:10px 0;
	overflow:hidden;
	text-align:center
}
.dx-checkbox {
	display:inline-block;
	margin:1px;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-checkbox.dx-state-disabled {
	cursor:default
}
.dx-checkbox .dx-checkbox-icon {
	display:inline-block;
	width:100%;
	height:100%;
	background-size:cover !important
}
.dx-slider {
	margin:1px;
	line-height:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-slider.dx-state-disabled .dx-slider-wrapper {
	cursor:default
}
.dx-slider .dx-slider-wrapper {
	position:relative;
	display:inline-block;
	width:100%;
	cursor:pointer
}
.dx-slider .dx-slider-wrapper .dx-slider-range {
	position:absolute;
	top:0;
	height:100%;
	pointer-events:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-slider .dx-slider-wrapper .dx-slider-handle {
	position:absolute;
	top:0;
	left:0;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-switch {
	position:relative;
	display:inline-block;
	overflow:visible;
	margin:1px;
	cursor:pointer;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-switch.dx-state-disabled {
	cursor:default
}
.dx-switch .dx-switch-wrapper {
	overflow:hidden;
	width:100%;
	height:100%
}
.dx-switch .dx-switch-inner {
	margin-left:-50px
}
.dx-tabs {
	text-align:center;
	display:inline-block;
	font-size:0 !important
}
.dx-tabs .dx-tab {
	display:inline-block;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.dx-tabs .dx-tab a {
	text-decoration:none;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#fff;
	opacity:.001
}
.dx-tabs .dx-tab .dx-icon {
	display:block;
	margin:0 auto;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-tabs .dx-tab .dx-tab-text {
	display:block;
	text-align:center;
	margin:0 auto;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-map {
	position:relative
}
.dx-map .dx-map-container, .dx-map .dx-map-shield {
	color:#000;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.dx-map .dx-map-shield {
	opacity:.01;
	background:rgba(0, 0, 0, .01)
}
.dx-tabs.dx-navbar {
	width:100%;
	margin:0;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-tabs.dx-navbar .dx-nav-item {
	vertical-align:bottom
}
.dx-tabs.dx-navbar .dx-nav-item a {
	display:block;
	height:100%;
	text-decoration:none
}
.dx-tabs.dx-navbar .dx-nav-item-content {
	position:relative
}
.dx-editbox {
	margin:1px
}
.dx-editbox .dx-editbox-input {
	width:100%;
	border:0;
	outline:0;
	-webkit-user-modify:read-write-plaintext-only;
	-webkit-appearance:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	-o-user-select:text;
	user-select:text
}
.dx-editbox .dx-placeholder {
	position:relative
}
.dx-editbox .dx-placeholder:before {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	content:attr(DATA-DX_PLACEHOLDER)
}
.dx-editbox .dx-placeholder.dx-hide:before {
	display:none
}
.dx-textarea .dx-editbox-input {
	resize:none;
	font-family:inherit
}
.dx-numberbox input[type=number]::-webkit-inner-spin-button {
-webkit-appearance:none
}
.dx-toolbar {
	position:relative;
	width:100%;
	overflow:hidden;
	z-index:1
}
.dx-toolbar .dx-toolbar-item {
	display:table-cell;
	padding:0 5px;
	vertical-align:middle
}
.dx-toolbar .dx-toolbar-item .dx-tabs {
	table-layout:auto
}
.dx-toolbar .dx-toolbar-item img {
	display:block
}
.dx-toolbar .dx-toolbar-left, .dx-toolbar .dx-toolbar-right {
	position:absolute
}
.dx-toolbar .dx-toolbar-left {
	left:0
}
.dx-toolbar .dx-toolbar-right {
	right:0
}
.dx-toolbar .dx-toolbar-label {
	white-space:nowrap;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-toolbar .dx-toolbar-center {
	margin:0 auto;
	height:100%;
	text-align:center
}
.dx-toolbar .dx-toolbar-center, .dx-toolbar .dx-toolbar-left, .dx-toolbar .dx-toolbar-right {
	display:table;
	top:0;
	height:100%
}
.dx-list {
	min-height:3em;
	margin:0
}
.dx-list .dx-list-item {
	cursor:pointer;
	-webkit-backface-visibility:hidden
}
.dx-list.dx-state-disabled, .dx-list.dx-state-disabled .dx-list-item, .dx-list.dx-state-disabled.dx-list-item {
	cursor:default
}
.dx-list .dx-list-next-button {
	padding:5px;
	text-align:center
}
.dx-list .dx-list-next-button .dx-button {
	padding:0 3em
}
.dx-tileview .dx-tile {
	position:absolute !important;
	-webkit-backface-visibility:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.dx-tileview .dx-tile.dx-state-active {
	-webkit-transition:-webkit-transform 100ms linear;
	-moz-transition:-moz-transform 100ms linear;
	-o-transition:-o-transform 100ms linear;
	transition:transform 100ms linear;
	-webkit-transform:scale(.96);
	-moz-transform:scale(.96);
	-ms-transform:scale(.96);
	-o-transform:scale(.96);
	transform:scale(.96)
}
.dx-tileview .dx-tiles-wrapper {
	position:relative;
	height:1px
}
.dx-tileview div.dx-scrollable-container {
	overflow-y:hidden
}
.dx-overlay {
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-overlay.dx-overlay-modal {
	position:fixed;
	width:100%;
	height:100%
}
.dx-overlay.dx-overlay-shader {
	background-color:rgba(128, 128, 128, .5)
}
.dx-overlay .dx-overlay-content {
	background:#015ca2;
	position:absolute;
	z-index:1000;
	overflow:hidden;
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
}
.dx-overlay-content h1 {
	padding:5px;
	color:#fff
}
.dx-toast .dx-toast-content {
	display:inline-block;
	padding:10px;
	vertical-align:middle
}
.dx-toast .dx-toast-content .dx-toast-icon {
	display:inline-block;
	width:35px;
	height:35px;
	margin-right:10px;
	vertical-align:middle
}
.dx-toast .dx-toast-content .dx-toast-message {
	display:inline;
	vertical-align:middle
}
.dx-toast .dx-toast-content.dx-toast-info {
	background-color:#80b9e4
}
.dx-toast .dx-toast-content.dx-toast-warning {
	background-color:#ffb277
}
.dx-toast .dx-toast-content.dx-toast-error {
	background-color:#f77
}
.dx-toast .dx-toast-content.dx-toast-success {
	background-color:#6ec881
}
.dx-popup .dx-overlay-content .dx-popup-title {
	min-height:19px;
	padding:5px;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dx-popup-title .title-button {
	float: right;
}
.dx-popup .dx-overlay-content .dx-popup-content {
	padding:10px;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	color:#32a7d3
}
.dx-dialog-root .dx-overlay-shader {
	background-color:#444
}
.dx-dialog-root .dx-overlay-content .dx-dialog-content {
	padding:0;
	color:#32a7d3
}
.dx-dialog-root .dx-overlay-content .dx-dialog-message {
	padding:10px 10px 5px 10px
}
.dx-dialog-root .dx-overlay-content .dx-dialog-buttons {
	width:95%;
	margin:0 auto;
	overflow:hidden
}
.dx-dialog-root .dx-overlay-content .dx-dialog-buttons .dx-button:nth-child(even) {
float:right
}
.dx-dialog-root .dx-overlay-content .dx-dialog-buttons .dx-button:nth-child(odd) {
float:left
}
.dx-dialog-root .dx-overlay-content .dx-dialog-buttons .dx-button:only-child {
	float:right
}
.dx-gallery {
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%
}
.dx-gallery .dx-gallery-wrapper {
	position:relative;
	height:100%
}
.dx-gallery .dx-gallery-nav-button-prev, .dx-gallery .dx-gallery-nav-button-next {
	position:absolute;
	top:50%;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	background-size:100%
}
.dx-gallery.dx-state-disabled .dx-gallery-nav-button-prev, .dx-gallery.dx-state-disabled .dx-gallery-nav-button-next {
	cursor:default
}
.dx-gallery .dx-gallery-nav-button-prev {
	left:0
}
.dx-gallery .dx-gallery-nav-button-next {
	right:0
}
.dx-gallery .dx-gallery-item {
	position:absolute;
	width:100%;
	height:100%
}
.dx-gallery .dx-gallery-indicator {
	position:absolute;
	bottom:10px;
	width:100%;
	height:10px;
	font-size:0
}
.dx-gallery .dx-gallery-indicator-item {
	display:inline-block;
	height:10px;
	margin:0 2px
}
.dx-lookup {
	height:19px
}
.dx-lookup .dx-lookup-field {
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:100%;
	position:relative;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.dx-lookup-popup .dx-list-item {
	cursor:pointer
}
.dx-lookup-popup .dx-popup-content {
	position:absolute;
	top:40px;
	bottom:40px;
	left:0;
	right:0
}
.dx-lookup-popup.dx-lookup-popup-search .dx-popup-content {
	bottom:85px
}
.dx-action-sheet-popup .dx-overlay-content {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	padding-top:0;
	padding-bottom:0
}
.dx-action-sheet-popup .dx-overlay-content .dx-button {
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0
}
.dx-action-sheet-popup .dx-overlay-content .dx-action-sheet-item, .dx-action-sheet-popup .dx-overlay-content .dx-action-sheet-cancel {
	width:100%
}
.dx-loadindicator {
	display:inline-block;
	position:relative;
	width:32px;
	height:32px;
	overflow:hidden
}
.dx-loadindicator.dx-loadindicator-small {
	width:20px;
	height:20px
}
.dx-loadindicator.dx-loadindicator-medium {
	width:32px;
	height:32px
}
.dx-loadindicator.dx-loadindicator-large {
	width:64px;
	height:64px
}
.dx-loadpanel-content {
	padding:10px;
	border:1px solid #ccc;
	background:#fefefe;
	filter:alpha(opacity=90);
	-khtml-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;
	text-align:center
}
.dx-loadpanel-content .dx-loadpanel-image {
	height:30px
}
.dx-loadpanel-content .dx-loadpanel-message {
	margin:10px;
	text-align:center;
	color:#32a7d3
}
.dx-overlay.dx-loadpanel, .dx-overlay.dx-loadpanel .dx-overlay-shader, .dx-overlay.dx-loadpanel .dx-overlay-content {
	z-index:1001
}
.dx-autocomplete-popup .dx-list {
	min-height:35px
}
.dx-dropdownmenu-popup .dx-dropdownmenu-list {
	min-height:40px;
	min-width:100px
}
.dx-dropdownmenu-popup .dx-dropdownmenu-list .dx-list-item:last-child {
	border-bottom:0
}
.dx-datagrid {
	font-weight:400;
	font-family:SegoeUI, 'Segoe UI', HelveticaNeue, 'Helvetica Neue', 'Trebuchet MS', Verdana;
	font-size:12px;
	cursor:default
}
.dx-datagrid table {
	border-collapse:collapse
}
.dx-datagrid .dx-datagrid-table {
	table-layout:fixed;
	width:100%
}
.dx-pivotgrid {
	font-weight:400;
	font-size:12px;
	cursor:default;
	width:100%
}
.dx-pivotgrid table {
	border-collapse:collapse
}
.disable-select {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.dxdbRootFullScreenMode {
	padding:10px
}
.dx-dashboard-viewer {
	background:transparent
}
.dx-dashboard-title {
	font-size:30px;
	overflow:hidden;
	padding-top:3px;
	padding-bottom:3px
}
.dx-dashboard-title .dx-dashboard-title-image {
	white-space:normal
}
.dx-dashboard-title .dx-dashboard-title-text {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	float:left;
	padding-left:8px;
	padding-right:8px;
	padding-top:0;
	padding-bottom:0
}
.dx-dashboard-viewer .dx-viewer-item-table {
	border-collapse:separate
}
.dx-dashboard-viewer div, .dx-dashboard-viewer td, .dx-dashboard-viewer tr {
	vertical-align:top
}
.dx-dashboard-viewer .dx-dashboard-splitter-pane {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	overflow:hidden
}
.dx-dashboard-viewer .dx-dashboard-splitter-pane-empty {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	overflow:visible
}
.dx-dashboard-icon {
	background-repeat:no-repeat;
	background-position:center center
}
.dx-dashboard-button {
	display:inline-block;
	padding:0;
	border:1px solid transparent
}
.dx-dashboard-small-icon {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px
}
.dx-dashboard-big-icon {
	background-repeat:no-repeat;
	background-position:center center;
	width:32px;
	height:32px
}
.dx-dashboard-small-button-icon {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px;
	display:inline-block;
	padding:0;
	border:1px solid transparent
}
.dx-dashboard-big-button-icon {
	background-repeat:no-repeat;
	background-position:center center;
	width:32px;
	height:32px;
	display:inline-block;
	padding:0;
	border:1px solid transparent
}
.dx-dashboard-item-header {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	display:block;
	float:left;
	clear:both;
	filter:none;
	width:100%;
	font-size:14px
}
.dx-dashboard-item-header .dx-dashboard-item-header-text {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	float:left;
	font-weight:normal;
	padding-left:10px;
	padding-top:7px;
	padding-right:0;
	padding-bottom:7px
}
div.dx-dashboard-item {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	width:100% !important;
	display:block;
	clear:both
}
.dxdbDashboardWItem>* {
	padding:0
}
.dxdbDashboardWItem>*>*>*>* {
	margin-left:auto;
	margin-right:auto
}
.dx-dashboard-item-shield {
	position:absolute;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEUlEQVQIW2P8//8/AwgwwhgAROgF/ckwojkAAAAASUVORK5CYII=);
	z-index:100
}
.dx-dashboard-item-toolbar {
	border-width:0;
	display:inline;
	height:100%;
	float:right;
	padding:4px
}
.dx-dashboard-item-toolbar .dx-db-toolbar-internal {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	width:100%;
	white-space:nowrap
}
.dx-dashboard-item-loading {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px
}
.dx-dashboard-clear-master-filter {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px;
	display:inline-block;
	padding:0;
	border:1px solid transparent;
	opacity:.25
}
.dx-dashboard-content-selection {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px;
	display:inline-block;
	padding:0;
	border:1px solid transparent
}
.dx-dashboard-item-header-drill-up {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px;
	display:inline-block;
	padding:0;
	border:1px solid transparent;
	opacity:.25
}
.dx-dashboard-item-export {
	background-repeat:no-repeat;
	background-position:center center;
	width:24px;
	height:24px;
	display:inline-block;
	padding:0;
	border:1px solid transparent
}
.dx-dashboard-export {
	background-repeat:no-repeat;
	background-position:center center;
	width:32px;
	height:32px;
	display:inline-block;
	padding:0;
	border:1px solid transparent
}
.dx-dashboard-clear-master-filter.dxdbEnabled:hover, .dx-dashboard-content-selection:hover, .dx-dashboard-item-export:hover, .dx-dashboard-export:hover, .dx-dashboard-item-header-drill-up.dxdbEnabled:hover {
	cursor:pointer
}
.dx-dashboard-clear-master-filter.dxdbEnabled, .dx-dashboard-item-header-drill-up.dxdbEnabled, .dx-dashboard-item-export.dxdbEnabled {
	opacity:1
}
.dx-dashboard-menu-background {
	display:none;
	position:absolute
}
.dx-dashboard-menu-background li {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	border:1px solid transparent;
	border-collapse:separate;
	cursor:pointer;
	font-size:12px;
	list-style-type:none;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px
}
.dx-dashboard-splitter-v-separator, .dx-dashboard-splitter-h-separator {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	font-size:0
}
.dx-dashboard-splitter-h-separator:hover, .dx-dashboard-splitter-moving-h-separator {
	cursor:n-resize
}
.dx-dashboard-splitter-v-separator:hover, .dx-dashboard-splitter-moving-v-separator {
	cursor:w-resize
}
.dx-dashboard-splitter-resizing {
	font-size:0;
	line-height:0
}
div.dx-dashboard-splitter-separator {
	display:inline-block;
	font-size:0;
	line-height:0
}
div.dx-dashboard-splitter-layout-place {
	width:100%;
	height:100%;
	vertical-align:top
}
div.dx-dashboard-layout-shield {
	background-color:transparent;
	z-index:100;
	position:absolute
}
.dx-dashboard-item.dx-hide-vertical-border .dx-datagrid-rowsview tr td {
	border-left:0
}
.resultBall {
	width:25px;
	height:30px;
	float:left;
	background:url(/content/images/ball_sm.png?1) no-repeat;
	padding:6px 0 0 10px;
	font-size:100%;
	color:#4d5363
}
.resultBallBig {
	width:30px;
	height:40px;
	float:left;
	background:url(/content/images/ball_big.png) no-repeat;
	padding:8px 0 0 13px;
	font-size:100%
}
.stepSide {
	margin-top:10px;
	width:90%;
	background:url(/content/images/stepSide.png) no-repeat
}
.stepNo {
	background:url(/content/images/step.png) no-repeat;
	height:30px;
	padding:5px 10px;
	float:left
}
.stepTitle {
	padding:5px 0;
	margin-left:40px
}
input.lottotbox {
	border-radius:5px 5px 5px 5px;
	height:25px;
	margin:5px;
	padding:2px;
	width:25px
}
.row_remove #add_row {
	text-decoration:none
}
#err_span {
	color:red
}
input.lottotbox {
	border-radius:5px 5px 5px 5px;
	height:25px;
	margin:5px;
	padding:2px;
	width:25px
}
.row_remove #add_row {
	text-decoration:none
}
.not_selected {
	background-color:#226494;
	background-repeat:no-repeat;
	background-image:-webkit-linear-gradient(-90deg, #226494 0, #0d72bb 100%);
	background-image:-moz-linear-gradient(-90deg, #226494 0, #0d72bb 100%);
	background-image:-ms-linear-gradient(-90deg, #226494 0, #0d72bb 100%);
	background-image:-o-linear-gradient(-90deg, #226494 0, #0d72bb 100%);
	background-image:linear-gradient(180deg, #226494 0, #0d72bb 100%);
	color:#fff
}
.selected {
	background-color:#ff0;
	background-repeat:no-repeat;
	background-image:-webkit-linear-gradient(-90deg, #ff0 0, #ff0 100%);
	background-image:-moz-linear-gradient(-90deg, #ff0 0, #ff0 100%);
	background-image:-ms-linear-gradient(-90deg, #ff0 0, #ff0 100%);
	background-image:-o-linear-gradient(-90deg, #ff0 0, #ff0 100%);
	background-image:linear-gradient(180deg, #ff0 0, #ff0 100%);
	color:#226494
}
.select {
	-moz-box-sizing:border-box;
	background-color:#9babc3;
	background-repeat:no-repeat;
	border:0 none;
	border-radius:3px;
	display:inline-block;
	font-family:Helvetica, Arial, "Lucida Grande", sans-serif;
	height:100%;
	padding:1px 2px;
	position:relative;
	text-align:center;
	width:24px;
	cursor:pointer;
	font-size:14px
}
.dx-button2 {
	background-color:#226494;
	color:#fff;
	border:0;
	padding:5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	float:left;
	margin:5px;
	font-size:90%;
	text-shadow:0 1px rgba(0, 0, 0, 0.6);
	cursor:pointer;
	text-align:center
}
.prizeStructure {
	margin:10px
}
.panel, .prizeStructure table {
	width:100%
}
.panel th, .prizeStructure th {
	font-weight:bold;
	font-size:90%;
	color:#226494;
	text-align:center;
	height:26px;
	background-color:#bad7ed;
	text-shadow:0 1px rgba(255, 255, 255, 0.6)
}
.panel td, .prizeStructure td {
	font-size:90%;
	color:#226494;
	background-color:#e4e6e8;
	cursor:pointer
}
.prizeStructure td {
	text-align:center
}
#pnlDetails .textbox {
	color:#226494;
	-webkit-box-shadow:2px 2px 2px 0 #6d6a66;
	-moz-box-shadow:2px 2px 2px 0 #6d6a66;
	-ms-box-shadow:2px 2px 2px 0 #6d6a66;
	-o-box-shadow:2px 2px 2px 0 #6d6a66;
	box-shadow:2px 2px 2px 0 #6d6a66;
	border:0;
	background:#fff;
	padding:4px 4px 4px 6px;
	font-size:1em;
	margin:0;
	margin-bottom:10px;
	resize:none;
	font-family:inherit
}
.resultTable {
	margin:35px 20px 20px;
	clear:both
}
.resultData {
	color:#226494;
	font-weight:bold;
	float:left
}
.resultTitle {
	color:#24292c;
	float:left;
	padding-right:10px
}
.resultRow {
	clear:both
}
.deleteIcon {
	background:url(/content/images/trash.png) no-repeat;
	width:16px;
	height:16px
}
.aboutGame {
	margin:10px;
	clear:both
}
.aboutGame ul li {
	list-style:outside
}
.gameBallsUl {
	cursor:pointer;
	width:100%;
	padding:10px
}
.question {
	font-weight:bold;
	cursor:pointer;
	margin-top:20px
}
.answer {
	margin-top:5px;
	font-size:90%
}
.faq {
	padding-left:15px
}
.footerBg {
	position:absolute;
	width:100%;
	bottom:-4px;
	background-color:#3591d6;
	color:#b4dcfa;
	font-size:80%;
	height:24px;
	padding:5px 5px;
	text-shadow:0;
	text-align:center
}
.footerBg a {
	color:#b4dcfa !important
}
.ticker {
	background-color:#005ba2;
	color:#b4dcfa;
	font-size:100%;
	height:20px;
	padding:5px 5px;
	text-shadow:0;
	white-space:nowrap;
	text-align:center
}
.homeButton {
	float:left;
	width:75px;
	height:75px
}
.homeButton .dx-button-text {
	font-size:110%
}
.winnerBg {
	background:url(/content/images/winnerBg.gif?1) no-repeat;
	width:300px;
	height:340px;
	margin:10% auto 0
}
.winnerBg img {
	margin:8% 25%;
	width:150px;
	height:150px
}
.winnerBg .name {
	position:relative;
	width:200px;
	background:#fbf119;
	padding:5px;
	color:#005ba2;
	top:-30px;
	left:45px
}
.winnerBg .text {
	color:#fff;
	margin-top:-25px;
	margin-left:20px
}
.dx-datebox {
	width:90px
}
.moreballs {
	cursor:pointer;
	margin-left:88px;
	font-weight:bold;
	cursor:pointer;
	margin-top:5px
}
.Tab {
	background:url("/content/images/tabBG.gif?1") repeat-x scroll left bottom;
	float:left;
	width:100%
}
.Tab ul {
	padding:10px 0 0 10px;
	margin:0;
	height:100%;
	list-style:none outside none
}
.Tab ul li {
	float:left;
	margin-right:5px;
	padding-top:0;
	list-style:none outside none
}
.Tab ul li div {
	padding:3px 10px;
	color:#878787;
	font-size:90%;
	font-weight:bold;
	border-width:2px 1px 0;
	border-style:solid solid none;
	border-color:#c3c3c3 #c3c3c3 -moz-use-text-color;
	-moz-border-top-colors:none;
	-moz-border-right-colors:none;
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	border-image:none;
	background-image:-webkit-linear-gradient(-90deg, #ddd 0, #eee 100%);
	background-image:-moz-linear-gradient(-90deg, #ddd 0, #eee 100%);
	background-image:-ms-linear-gradient(-90deg, #ddd 0, #eee 100%);
	background-image:-o-linear-gradient(-90deg, #ddd 0, #eee 100%);
	background-image:linear-gradient(180deg, #ddd 0, #eee 100%);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	margin-top:10px;
	display:inline-block;
	cursor:pointer
}
.Tab div.sel {
	color:#2c2903;
	font-size:100%;
	font-weight:bold;
	padding:8px 10px 7px;
	border-image:none;
	border-color:#de7319 #de7319 -moz-use-text-color;
	background-image:-webkit-linear-gradient(-90deg, #ffec00 0, #eee 100%);
	background-image:-moz-linear-gradient(-90deg, #ffec00 0, #eee 100%);
	background-image:-ms-linear-gradient(-90deg, #ffec00 0, #eee 100%);
	background-image:-o-linear-gradient(-90deg, #ffec00 0, #eee 100%);
	background-image:linear-gradient(180deg, #ffec00 0, #eee 100%);
	font-weight:bold;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	margin-top:0;
	cursor:pointer
}
.butDraw {
	float:left;
	width:28px;
	height:30px;
	cursor:pointer;
	font-size:1.3em;
	font-weight:bold
}
.borderBox .plus {
	background:url("/content/images/plus.gif") no-repeat 50% 50%
}
.borderBox .minus {
	background:url("/content/images/minus.gif") no-repeat 50% 50%
}
.borderBoxInput {
	float:left;
	width:30px;
	border:medium none;
	height:28px;
	font-size:85%;
	text-align:center;
	background:0;
	border-left:2px solid #de7319;
	border-right:2px solid #de7319;
	font-weight:bold
}
.borderBox {
	border:1px solid #de7319;
	background-image:-webkit-linear-gradient(-90deg, #f9f9f9 0, #e9e9e9 100%);
	background-image:-moz-linear-gradient(-90deg, #f9f9f9 0, #e9e9e9 100%);
	background-image:-ms-linear-gradient(-90deg, #f9f9f9 0, #e9e9e9 100%);
	background-image:-o-linear-gradient(-90deg, #f9f9f9 0, #e9e9e9 100%);
	background-image:linear-gradient(180deg, #f9f9f9 0, #e9e9e9 100%);
	width:95px;
	height:30px;
	float:left;
	text-align:center;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	color:#004b91;
	margin-bottom:10px
}
.dx-icon-about {
	background:url(/content/images/about.png?1) 0 0 no-repeat
}
.dx-icon-lotto {
	background:url(/content/images/game.png?1) 0 0 no-repeat
}
.dx-icon-result {
	background:url(/content/images/resultN.png?1) 0 0 no-repeat
}
.dx-icon-shop {
	background:url(/content/images/shop.png?1) 0 0 no-repeat
}
.dx-icon-friend {
	background:url(/content/images/friend.png?3) 0 0 no-repeat
}
.dx-icon-faq {
	background:url(/content/images/faq.png?2) 0 0 no-repeat
}
.dx-icon-gmLotto {
	background:url(/content/images/gmLotto.png?1) 0 0 no-repeat
}
.dx-icon-resultTop {
	background:url(/content/images/resultTop.png?1) 0 0 no-repeat
}
.popup-content .dx-list {
	background:#ffff49
}
.dx-icon-back  {
background: url(data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAkCAQAAAAu5KJsAAAA1ElEQVQ4y43UsQmDUBAG4IOAlZWtVSADpErlBtnADbKBG7hBNnCDbGCVKgMIqWytrITAn0LC8/4z8D8LQT9O7727M1i4MgzYrsV2UAO/2khKzI6MyCPqKE4NY3Ih8oRF1BOqIqqJdOvzLckxOjKjjKilOM3vTSJHLI68kUW0kzqjiki/TWi9HfBy5INzRDeKc/e7ZzAUmByZUET0N/WETpT6kFJP6EFxrrHCRCR9TvpxcQukzRSPRTpgsVTEopPKV2wEqaXE5hTbXBoY4uiRhtjOOPwCrBOkPi0JmdwAAAAASUVORK5CYII=) 0 0 no-repeat;
background-size: 35% 60% !important;
}