<div data-options="dxView : { name: 'about' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ,dxScrollView: { }">
        <div  data-bind="dxScrollView: { }">
            <p> Playwin is the lottery & gaming brand of Pan India Network Ltd., part of the 2.4 Billion Dollar Essel Group. Pan India Network Ltd. is in the business of providing infrastructure, data communication, marketing support and service to facilitate a secure online lottery network. </p>
            <p>
                Playwin has three big lotto games Thunder Ball, Thursday Super Lotto, & Saturday Super Lotto. The biggest jackpot hit from the Playwin is of Thursday Super Lotto game, amounting Rs. 17.29 crore & won by a resident of Kolkatta on May 25, 2006. 
            </p>
            <p>
                Within a span of TEN years, Playwin has created 82 Crorepatis and over 4,000 lakhpati's. Playwin games are automated and legal, assuring each player of a fair playing ground.
                The hassle-free and transparent system is the significant feature that distinguishes Playwin from the rest.
            </p>
            <p>
                Playwin lotto games can be played on various platforms including retail outlets, internet and as well as through the SMS platform.
            </p>         
        </div>
    </div>
</div>