<div data-options="dxView : { name: 'dial', title: 'Dial A Card' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div  data-bind="dxScrollView: { }">
            <h1>HOME DELIVERY</h1>
            <p>Call us on the following numbers, provide us with your detailed address & telephone number.<br/>
                + 91(22) 24721144</p>
            <h1>SMS</h1>
            <p>Just Sms MPHONE to 57575, a representative will get in touch with you at the earliest.</p>
            <h1>EMAIL</h1>
            <p>Your Myplaywin.Com card is just an email away, email us at help@myplaywin.com card, provide us with your detailed address & telephone number.
            </p>         
        </div>
    </div>
</div>