<div data-options="dxView : { name: 'disclaimer' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ,dxScrollView: { }">
        <div >
            <table cellspacing="0" cellpadding="0">
                <tbody><tr>
                        <td width="2544" valign="top" height="55" align="left" class="dark_blue_text_justify" colspan="4">Pan India Network Ltd is the owner of World Wide Website <a target="_blank" href="http://www.myplaywin.com"> <span class="dark_blue_link"><strong>http://www.myplaywin.com</strong></span></a><span class="dark_blue_link"><strong>.</strong></span>  Access and use of this World Wide Website is provided subject to the  following terms and conditions, and you are deemed to have read,  understood, accepted and agreed to be bound by the said terms and  conditions. Please read these terms and conditions carefully as access  and use of this site constitute acceptance of these terms &amp;  conditions.</td>
                    </tr>
                    <tr>
                        <td valign="top" height="13" align="left" class="black_text" colspan="4">&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" align="left" class="dark_blue_text_justify" colspan="4">Pan India Network Ltd<br>
                            135, Continental Building,<br>
                            Dr A.B Road Worli<br>
                            Mumbai - 400018</td>
                    </tr>
                    <tr>
                        <td height="13" colspan="4">&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" align="left" class="dark_blue_text_justify" colspan="4"><strong>1.<a class="dark_blue_link" href="#s1"> Criminal Liability for misuse of contents </a></strong></td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" align="left" class="dark_blue_text_justify" colspan="4"><strong>2. <a class="dark_blue_link" href="#s2">Loss or Damage</a> </strong></td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" align="left" class="dark_blue_text_justify" colspan="4"><strong>3. <a class="dark_blue_link" href="#s3">Limited Liability</a> </strong></td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" align="left" class="dark_blue_text_justify" colspan="4"><strong>4. <a class="dark_blue_link" href="#s4">Copyright law and trade mark notices</a> </strong></td>
                    </tr>
                    <tr>
                        <td valign="top" height="13" align="left" class="dark_blue_text_justify" colspan="4">&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" height="13" align="left" colspan="4">&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" align="left" class="dark_blue_text" colspan="4"><strong>1. Criminal Liability for misuse of contents<a id="s1" name="s1"></a></strong></td>
                    </tr>
                    <tr>
                        <td valign="top" height="384" align="left" class="dark_blue_text_justify" colspan="4">The  contents, and information, herein after referred to as "Material" on  our web site are protected by intellectual property laws. You may only  access and use the material for the intended purposes as provided in  the terms and conditions. Any alteration/modification either in whole  or in part or usage of the materials for other than intended purpose  would constitute an infringement of our copyright therein. You may not  modify/alter for any purpose without <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com's</strong></a> written consent any material on <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com's </strong></a>website. Except as provided below, you may not reproduce, republish, post, transmit or distribute any material on <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com</strong></a> website.<br>
                            Any computer software downloaded or otherwise available from our  website is licensed subject to the term of the applicable license  agreement.<br>
                            <br>
                            The materials included in <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>"www.myplaywin.com"</strong></a> Website have been compiled by Playwin from a variety of sources and are subject to change without any further notice.<br>
                            <br>
                            All materials of <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>"www.myplaywin.com"</strong></a> Website are protected by copyright law. You may not under any  circumstances, reproduce, record, publish publicly, distribute or  publicly exhibit any material without<a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong> www.myplaywin.com's</strong></a> written consent. Any attempt to "Pass off" any of <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com </strong></a>content  as your own work or in any other manner except as herein authorized  shall be an infringement of our copy right which may render you  criminally liable. You may not link any RAM file directly on  www.myplaywin.com server.<br>
                            Links of other sites from www.myplaywin.com website.<br>
                            The sites linked from <a target="_blank" href="http://www.myplaywin.com"><strong>"<span class="dark_blue_link">www.myplaywin.com"</span></strong></a> Website are not under our control and <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>"www.myplaywin.com"</strong></a> does not assume responsibility or liability for the materials available  at such linked sites. The links have been provided for reference and  for convenience only.<br>
                            Any hyperlinks from this website, exists for  information purposes only and are meant for your convenience. Pan India  Network Ltd accepts no liability for any loss or damage  arising directly or indirectly (including consequential loss) from the  accuracy or otherwise of materials or information contained on the  pages of such sites or loss arising directly or indirectly from  deficiencies of such sites. Pan India Network Ltd's  inclusion of hyperlinks does not imply any endorsement of the material  on such sites. Myplaywin accepts no responsibility or liability for the  authenticity or accuracy of the advertisements or promotions appearing  on this website. Users of this website dealing with such advertisers or  promotions may do so at their entire risk, costs and consequences . </td>
                    </tr>
                    <tr>
                        <td valign="top" height="384" align="left" colspan="4"><table cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                        <td valign="top" height="13" align="right"><a class="faq_text" href="#top">Top</a></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="20" align="left" class="dark_blue_text"><strong>2. Loss or Damage <a id="s2" name="s2"></a></strong></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left" class="dark_blue_text_justify"><a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com </strong></a>will  not be liable for any loss or damage arising directly or indirectly  (including special, incidental or consequential loss or damage) from  your use of this website howsoever arising, and including any loss,  damage or expense arising from but not limited to any defect, error,  imperfection, fault, mistake or inaccuracy with this website, its  contents or associated services or due to any unavailability of the  website or any part thereof or any contents or associated services. </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="right"><a class="faq_text" href="#top">Top</a></td>
                                    </tr>

                                    <tr>
                                        <td valign="top" height="20" align="left" class="dark_blue_text"><strong>3. Limited Liability <a id="s3" name="s3"></a></strong></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left" class="dark_blue_text_justify">Under no circumstances, <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com </strong></a>shall  be liable for loss or damages whatsoever whether is contract, tort or  otherwise from the use of, or reliance on the information or from the  use of Internet generally. </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="right"><a class="faq_text" href="#top">Top</a></td>
                                    </tr>

                                    <tr>
                                        <td valign="top" height="20" align="left" class="dark_blue_text"><strong>4. Copyright law and trade mark notices <a id="s4" name="s4"></a></strong></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left" class="dark_blue_text_justify">Pan India Network Ltd, is the sole owner of <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong> http://www.myplaywin. </strong></a>comtrade-mark and <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>http://www.myplaywin.com</strong></a> logo are trade of <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>www.myplaywin.com</strong></a>. Any usage of <a class="dark_blue_link" target="_blank" href="http://www.myplaywin.com"><strong>http://www. myplaywin.com</strong></a> trademark or logo without written consent of Pan India Network Ltd, shall be an infringement of our intellectual  property rights </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left" class="dark_blue_text_justify">Pan India Network Ltd WILL NOT BE LIABLE FOR ANY LOSS OR  DAMAGE ARISING DIRECTLY OR INDIRECTLY (INCLUDING SPECIAL, INCIDENTAL OR  CONSEQUENTIAL LOSS OR DAMAGE) FROM YOUR USE OF THIS WEBSITE HOWSOEVER  ARISING, AND INCLUDING ANY LOSS, DAMAGE OR EXPENSE ARISING FROM BUT NOT  LIMITED TO ANY DEFECT, ERROR, IMPERFECTION, FAULT, MISTAKE OR  INACCURACY WITH THIS WEBSITE, ITS CONTENTS OR ASSOCIATED SERVICES OR  DUE TO ANY UNAVAILABILITY OF THE WEBSITE OR ANY PART THEREOF OR ANY  CONTENTS OR ASSOCIATED SERVICES. Any hyperlinks from this website,  exists for information purposes and are for your convenience only. Pan India Network Ltd accepts no liability for any loss or  damage arising directly or indirectly (including consequential loss)  from the accuracy or otherwise of materials or information contained on  the pages of such sites or loss arising directly or indirectly from  defects with such sites. Pan India Network Ltd's  inclusion of hyperlinks does not imply any endorsement of the material  on such sites. </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="left">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="13" align="right"></td>
                                    </tr>
                                </tbody></table>
                        </td>
                    </tr>
                </tbody></table>    
        </div>
    </div>
</div>