<div data-options="dxView : { name: 'faq' } ">
    <div class="form"	data-options="dxContent : { targetPlaceholder: 'content' } ,dxScrollView: { }">
        <ol type="1" class="faq">
            <div id="qa" data-bind="foreach:qa" style="margin:25px" >
                <li><div class="question" data-bind="html: $data.question , click: $parent.showAns.bind($data) , attr:{id:'que_'+$data.id}"></div>
                    <div class="answer" data-bind="html: $data.answer,attr:{id:'ans_'+$data.id}" style="display:none"></div></li>
            </div>
        </ol>
    </div>