
.gameBox{
    height:82px; width:90%;margin:15px 4%;
}
.myRule {
    position: absolute;
    /*bottom: 0;
    top: 32px;*/
    width: 100%;
}
.upper {
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    margin: 0 0 20px 0;
}
.passbook {
    /* width: 200px; 
     height: 50px;
     position: relative;*/

    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
}
.rotate-3dX {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    
    
}
.rotate-3dX .back{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
.rotate-3dX .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.rev-rotate-3dX .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
.rev-rotate-3dX .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}




.face {
    position: absolute;
    width:100%;
    
    /* top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     color: white;
     line-height: 50px;
     text-align: center;*/
}
.no-hide .face {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
}
.front {
    /*background: red;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    z-index: 10;
}
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    /*background: green; */

   
}
.rotate-3dX .front {
    z-index: 0;
} 


/*------------------------*/
.blue, .yellow{
    width:100%;
    height:83px;
    border:2px solid #81bae3; 
    background:#dfeaf2; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.yellow{
    border: 2px solid #cbc805;
    background:#fcff05;
}
.face .blue .icon-info{
    position:absolute;
    top:67px;
    left:0px;
    background-image: url(../content/images/icon_info.png);
    border:0px;
    width:20px;
    height:20px;
}
.face .blue .icon-result{
    position:absolute;
    top:58px;
    left:5px;
    background: url(../content/images/icon_result.png?3) no-repeat scroll 0% 0% transparent;
    width:20px;
    height:20px;
    border:none;
}
.face .yellow .icon-info{
    position:absolute;
    top:60px;
    left:0px;
    background-image: url(../content/images/icon_info_y.png);
    height:20px;
    width:20px;
}
.face .yellow .icon-result{
    position:absolute;
    top:58px;
    left:5px;
    border:none;
    background: url(../content/images/icon_result_y.png?3) no-repeat scroll 0% 0% transparent;
    width:20px;
    height:20px;
}
.blue img, .yellow img{
    /*cursor:pointer;*/
}

