.home-splash
{    
    height: 100%;    
    cursor: pointer;
	background: #237ac8;
	background-attachment: fixed;
	background-image: url(../content/images/bg1.gif);
	background-repeat: repeat;
	background-position: center center;
}

.home-demo-logo
{
	width: 238px;
	height: 95px;
    background: url(../content/images/playwin-logo.png?1) no-repeat center center;
	background-size: 85% auto;
	margin: 2% auto 0px;
	height: 95px;
}

.home-dx-logo
{
    position: absolute;
    bottom: 20px;
    height: 22px;
    width: 100%;
    
}
.contentHome {
    /*center content box for all non IE browsers*/
    margin-left: auto;
    margin-right: auto;
     
    width:290px;
 /*   border: 1px solid #000000;*/
    overflow:hidden;
	text-align:center;
}
 
/*The following is what centers the dynamic div horizontally within the content box*/
div.centerbox-outer{
    margin: 5px auto;
    float: left;
    left: 50%;
    position: relative;
        
}
 
div.centerbox-inner{
/*    background-color: #cccccc;*/
    float: left;
    position: relative;
    right: 50%;
/*    border: 1px solid #ffcccc;
	border-width::1px;
	border-color:#FF0000;*/
    /*to vertically center the links*/
}
.adSpaceHome{
   /* background: url(../content/images/bnr_shoploct.jpg) no-repeat center center;*/
	width:260px;
	height:45px;
	background-size: 100% auto;
	margin: 2% auto;
	text-align: center;
	clear:both;
	
}

.adSpaceHomeBig{
   /* background: url(../content/images/bnr_shoploct.jpg) no-repeat center center;*/
	width:260px;
	height:120px;
	background-size: 100% auto;
	margin: 2% auto;
	text-align: center;
	clear:both;
	
}

.youTube{
    background: url(../content/images/social/youTube.png) no-repeat center center;
	width:40px;
	height:40px;	
	background-size: 90% auto;
	float:left;
	margin:0px 10px;
	
}
.facebook{
    background: url(../content/images/social/facebook.png) no-repeat center center;
	width:40px;
	height:40px;	
	background-size: 90% auto;
	float:left;
	margin:0px 10px;
}
.twitter{
    background: url(../content/images/social/twitter.png) no-repeat center center;
	width:40px;
	background-size: 90% auto;
	float:left;
	height:40px;	
	margin:0px 10px;
}
.blogger{
    background: url(../content/images/social/blogger.png) no-repeat center center;
	width:40px;
	background-size: 90% auto;
	float:left;
	height:40px;	
	margin:0px 10px;
}