<div data-options="dxView : { name: 'Home' } " >
  <div data-options="dxContent : { targetPlaceholder: 'content' }" >
    <div data-bind="dxLoadPanel:{message: loadPanelMsg, visible: loadPanelVisible }"></div>
    <div class="home-splash">
      <div data-options="dxScrollView: { }">
      
      	<div id="popup" data-bind="dxPopup: { visible:isShowSocialApp , fullScreen:false, height:120 } " >
			        
		       <div class="dx-clearfix" data-options="dxTemplate : { name: 'title' } ">
                           <div  class="title-button" data-bind="dxButton: { icon: 'close', clickAction:hideSocialApp }"></div>
                           <h2  data-bind="text:'Social Connect'"></h2>
		       </div>
		       <div data-options="dxTemplate : { name: 'content' } ">
		           <div >
                               <div class="youTube" data-bind="click:showSocialApp.bind($data,'http://www.youtube.com/myplaywin1234')"></div>
                               <div class="twitter" data-bind="click:showSocialApp.bind($data,'https://twitter.com/myplaywin')"></div>
                               <div class="facebook" data-bind="click:showSocialApp.bind($data,'https://www.facebook.com/playwin')"></div>
                               <div class="blogger" data-bind="click:showSocialApp.bind($data,'http://hopevsmoney.blogspot.com')"></div>
                             
                            </div>
		       </div>
		       
		</div>	
		
		<!-- -->
               
                
        <div class="home-demo-logo"></div>
        <div class="contentHome" >
          <div class="centerbox-outer">
            <div class="centerbox-inner">
              <div style="text-align:center">
                <div  class="dx-button2 homeButton" data-bind="click:navigate.bind($data,'LottoGames')"><span class="dx-button-text"> <img src="content/images/game.png" /> <br />
                  Lotto Games </span></div>
                <div class="dx-button2 homeButton" data-bind="click:navigate.bind($data,'WeeklyGames')"><span class="dx-button-text"> <img src="content/images/game.png" /> <br />
                  Weekly Games </span></div>
                <div class="dx-button2 homeButton" data-bind="click:navigate.bind($data,'Results')"><span class="dx-button-text"> <img src="content/images/resultN.png" style="margin-bottom:10px"/><br />
                  Results </span></div>
                <div 
              class="dx-button2 homeButton" data-bind="click:navigate.bind($data,'TodaysJackpot')"><span class="dx-button-text"> <img src="content/images/todayDraw.png" /> <br />
                  Todays Draw </span></div>
                <div class="dx-button2 homeButton" data-bind="click:navigate.bind($data,'MyAccount')"><span class="dx-button-text"> <img src="content/images/myAcc.png" /> <br />
                  My Account </span></div>
                <div class="dx-button2 homeButton" data-bind="click:navigate.bind($data,'SocialConnect')"><span class="dx-button-text"> <img src="content/images/social.png" /> <br />
                 Social Connect </span></div>
              </div>
            </div>
          </div>
        </div>
       
        <div class="adSpaceHome"><a data-bind="click:openBannerRUrl.bind($data,bannerImgRUrl())"><img data-bind="attr:{src:bannerImgUrl}"></a></div>
      </div>
    </div>
  </div>
</div>
