<div data-options="dxView : { name: 'myAccount', title: 'My Account' } ">
	<div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div  data-bind="dxScrollView: { }">
			<iframe src="https://www.itzcash.com/myplaywin/jsp/Login.jsp?displaymode=PLY" width="100%" height="480px"></iframe>            
		</div>
	</div>
</div>