<div
	data-options="dxView : { name: 'registerUser', title: 'Playwin Registration' ,layout: 'empty' } ">
	<div class="form"
		data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div
			data-bind="dxLoadPanel:{message: loadPanelMsg, visible: loadPanelVisible }"></div>
		<div class="home-splash">
			<div>
				<div class="home-demo-logo"></div>
				<div class="home-dx-logo"></div>
			</div>
			<div class="dx-fieldset"
				style="position: absolute; top: 30%; left: 15%; width: 80%">
				<div class="dx-field">
					<div class="dx-field-value">
						<div
							data-bind="dxTextBox: { placeholder: 'Your Name*' , value: name , valueUpdate: 'afterkeydown' }"></div>
					</div>
				</div>

				<div class="dx-field">
					<div class="dx-field-value">
						<div class="dx-editbox dx-widget dx-feedback dx-textbox">
							<input class="dx-editbox-input" type="tel"
								data-bind="value: mobile" placeholder="Mobile Number*">
							<div class="dx-editbox-border"></div>
						</div>
					</div>
				</div>


				<div class="dx-field">
					<div class="dx-field-value">
						<div
							data-bind="dxTextBox: {  placeholder: 'EmailId' , value: email , valueUpdate: 'afterkeydown'}"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-value">
						<div class="dx-button1" data-bind="click: registerSubmit">
							<span class="dx-button-text"> Continue </span>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
