<div data-options="dxView : { name: 'settings' } ">
	<div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
		<!-- View content -->
		<div data-bind="dxList: { dataSource: items, grouped: true ,autoPagingEnabled:false}">

		    <div data-options="dxTemplate: { name: 'item' }">
		        <div data-bind="text: $data.name , click:$parent.callAction.bind($data)"></div>
		    </div>   
		</div>
       
	</div>
</div>