<div data-options="dxView : { name: 'terms' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ,dxScrollView: { }">
        <div  >
<a name="top" id="top"></a>
            <table>
                                        <tbody><tr>
                                          <td><table cellpadding="0" cellspacing="0">

                                            <tbody><tr>
                                              <td class="dark_blue_text_justify" align="left" height="20" valign="top"><strong>1. Introduction<a name="s1" id="s1"></a></strong></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="64" valign="top">These  Terms and Conditions ("Terms and Conditions") apply to all Games (as  defined in Clause 2 below). The Company will issue Game Rules for  Draw-Based Games Played. By accepting these Terms and Conditions,  Players (as defined in Clause 2 below) agree to be bound by the  relevant Game Rules. <br>
                                                The Draw-Based Games are only available once  a Prospective Player has successfully undertaken Registration and has  accepted these Terms and Conditions. </td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text" align="left" height="20" valign="top"><strong>2. Definitions<a name="s2" id="s2"></a></strong></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="1000" valign="top">Unless the context clearly indicates otherwise, the following words and terms     shall have the following meaning:<span class="dark_blue_text_justify"><br>
                                                  <br>
                                                'Account' means a Player's notional account maintained on the System to enable that Player to purchase Plays<br>
                                                <br>
                                                'Central' Computer  System' means the computer systems operated by, or on behalf of, the  Company from time to time which facilitate the playing of, and contain  a record of all selections made in relation to, Lottery games. </span><br>
                                                  <br>
                                                 'Company'  means Pan India Network Ltd, a company registered in India and  whose registerd office is at 135, Continental Building, 2nd Floor, Dr.  Annie Besant Road Worli Mumbai - 400018. 'Draw-Based Game ' means a  Lottery game which can be played by Players via the System, the result  of such game being determined by a draw and in which a Player's  selection is recorded on the Company's Central Computer System.  'Claimant' means a Player who submits a claim for a prize payment  within the applicable claim period.<br>
                                                  <br>
                                                'Draw'  means the process which culminates in the selection by the Company of a  set of Winning Numbers for a Lottery game on a random basis.<br>
                                                  <br>
                                                'Draw Break' means the point in time at which no further Selections will be entered into a Draw.<br>
                                                  <br>
                                                'Draw' Procedures' means the draw procedures to which any Draw shall be subject as determined by the Company from time to time.  <br>
                                                  <br>
                                                'High Tier Prize' means a Prize of which the value is in excess of Rs.10,000.<br>
                                                  <br>
                                               'Play Slip' means the graphical representation of a play slip available on the System on which a Player may enter his Selection.<br>
                                                  <br>'Low Tier Prize' means a prize of up to (and including) Rs. 10000.<br>
                                                  <br>'Lucky Pick' means  a Play consisting of a set of numbers which, instead of being selected  by a Player, are selected on a random basis by the Company's Central  Computer System on behalf of that Player.<br>
                                                  <br>'Play' means an entry into a Draw-Based Game Played in accordance with the game rules for that Draw-Based Game Played.<br>
                                                  <br>'Prize Claim Form' means  the printed form issued by the Company which a Player may be required  to complete and submit to be eligible to claim certain Prizes in  accordance with these Rules.<br>
                                                  <br>'Prize Structure' means  the number, value and odds of winning Prizes for an individual  Draw-Based Game and the prize tiers within a Draw-Based Game and the  chances of winning a Prize in each tier in individual Draw-Based Game  as determined by the Company and as specified in the relevant Game  Rules.<br>
                                                  <br>'Prospective Player' means an individual who wishes to proceed with Registration to become a Player.<br>
                                                  <br>'Selection'  means the set of numbers chosen by a Player (or, in the case of a Lucky  Pik, selected by the Company's Central Computer System on behalf of  that Player).<br>
                                                  <br>'Site' means the website with the URL www.myplaywin.com<br>
                                                  <br>'Winning Numbers' means the numbers used to determine the winning entries for a Draw-Based Game.<br>
                                                  <br>'Game' means a Draw-Based Game<br>
                                                  <br>'Game Rules'  means any rules or conditions issued by the Company in addition to  these Terms and Conditions which apply to Draw-Based Games and which  are identified by the Company as Game Rules.<br>
                                                  <br>'Games-Related Information'  means the Player's , Game History and any information the Company  requires a Player to submit to it via the System before providing that  Player with access to the Games which may include, without limitation,  the Player's name, user name, Password, Security Information,  Identification Information, email address and date of birth.<br>
                                                  <br>'Help Line' means the Company's customer helpline Toll free No 1800-22-9292/9393.<br>
                                                  <br>'System'  means the system (accessible via the Site) established and operated by  the Company for the purpose of registering Prospective Players,  facilitating Plays, holding Games-Related Information.<br>
                                                  <br>'Minor' means a person who has not reached the age of 18 years.<br>
                                                  <br>'Password' means the alpha-numeric identifier used by a Player to identify himself when accessing and using the System.<br>
                                                  <br>'Player'  means a person who has opened an Account via the System and who is  eligible (according to the criteria set out in these Terms and  Conditions) to purchase Plays and whose Account has not been  terminated, cancelled, suspended or closed.<br>
                                                  <br>'Privacy Policy'  means the policy established by the Company in respect of the use and  storage of a Player's personal information (including Games-Related  Information), as such policy may be amended from time to time.<br>
                                                  <br>'Prize' means a prize won by a Player from a Play in a Game.<br>
                                                  <br>'Prize Structure'  means the number, value and odds of winning Prizes for an individual  Game and the prize tiers within a Game and the chances of winning a  Prize in each tier in an individual Game as determined by the Company  and as specified in the Game Rules.<br>
                                                  <br>'Registration' means the process of opening an Account via the System.<br>
                                                  <br>'Security Information'  means the three pieces of information (for example a memorable date,  mother's maiden name and place of birth) which a Prospective Player is  required to provide to the Company for security purposes as part of  Registration. </td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text" align="left" height="20" valign="top"><strong>3. Status of these Terms and Conditions <a name="s3" id="s3"></a></strong></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" valign="top">A.Status of Terms and Conditions<br>
                                                These Terms and Conditions, the Privacy Policy (which is incorporated by       reference into these Terms and Conditions), the applicable Game Rules, Game       rules, set forth the full extent of the obligations and liabilities of the       Company to Players.<br>
                                                  <br> B. Precedence<br>
                                                  To the extent of any conflict or inconsistency, the order of precedence  for these Terms and Conditions, the applicable Game Rules, and any  statements and explanations appearing on the applicable Game Details  Screen shall be in descending order as follows:-<br>
                                                  <br>(a) the applicable Game Rules; <br>
                                                  (b) these Terms and Conditions (excluding, for this purpose, the Privacy Policy); <br>
                                                  (c) the Privacy Policy. <br>
                                                  © Changes to Terms and Conditions <br>
                                              The Company may change these Terms and Conditions, the Game Rules of  the Games at any time as per the rules and law passed by the Govt. Such  changes shall be applicable to prior Games so far as they relate to  claim and Prize payment procedures. Such changes shall be binding on  Players and will take effect immediately as per the posting of the  revised Terms and Conditions, or the revised Game Rules (as  appropriate) on the Site,  </td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text" align="left" height="20" valign="top"><strong>4. Player Registration <a name="s4" id="s4"></a></strong></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top"> 1 Criteria for Registeration.<br>
                                                A) Prospective Player may not open an Account unless and until, by  providing the information set out in Clause 4(A)(2), and the  Prospective Player is not a minor; following criteria are satisfied:- </td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top">2 How to Register<br>
                                                Prospective Players will be required to supply certain information to  the Company during Registration which will assist the Company in  determining whether or not the Prospective Player details are supplied  meets the criteria set out in Clause 4(A)(1) above and is eligible to  play the Games. This information will include, but will not be limited  to, a Prospective Player's:-<br>
                                                (a) name<br>
                                                (b) date of birth<br>
                                                (c) e-mail address<br>
                                                <br>
                                                Prospective Players will be asked to enter a Password, user name and  their Security Information. The Company will then open the Player's  Account and will acknowledge the successful completion of Registration  via e-mail (provided that the Prospective Player has, as part of  Registration, submitted an e-mail address) and an introductory greeting  on the System. Players may begin to play Draw-Based Games as soon as  their Account has been opened. If the Company subsequently discovers  that a Player was not eligible to open an Account, the Company reserves  the right to take all appropriate steps in relation to that Player and  his Account (including, without limitation, suspending or terminating  that Account, and investigating any security issues).</td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top">3 Password Security <br>
                                                  <br>
                                                Players must keep their Password secure and secret at all times and  take steps to prevent unauthorised use of their Password. For example,  Players should:- <br>
                                                (a) never write or otherwise record their Password in a way that can be understood by someone else;<br>
                                                (b) never let anyone else know their Password;<br>
                                                (c) destroy any advice from the Company concerning their Password promptly after receipt;<br>
                                                (d) avoid Password details that may be easy to guess such as birthdays/telephone numbers etc;<br>
                                                (e) inform the Company immediately of any unauthorised access to their  Account or any unauthorised transaction or Instruction which they know  of or suspect or if they know or suspect someone else knows their  Password.</td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top">4 Operation of a Player's Account <br>
                                                  <br>
                                                (A) Termination/Variation/Suspension of Accounts <br>
                                                <br>
                                                (1) If any information provided by a Player (including, without  limitation, the Games-Related Information, and/or any information  submitted during Registration) is provided fraudulently, or is  inaccurate, not current or incomplete, the Company has the right to  terminate, vary or suspend the Player's Account and refuse any and all  current or future playing of the Games by the Player.<br>
                                                  <br>
                                                 (2) The Company may terminate, vary or suspend the provision of the  Games, access to a Player's Account and/or to the System immediately  and without prior notice:- <br>
                                                  <br>(a) on breach of these Terms and Conditions, the relevant the relevant Game Rules; or<br>
                                                  (b) for repair or maintenance work or in order to upgrade or update the System; or<br>
                                                  (c) if the Company ceases to offer the Games, or<br>
                                                  (d) for any other reason at the Company's sole discretion. <br>
                                                  <br>
                                                  (B) Game History <br>
                                                  <br>
                                                  (1) A Player may ascertain information about his Account and Game  History and certain information relating to his Game History by  accessing the "My Account" section on the Site .<br>
                                                  <br>2) The Company will make available to the Player via the Site up to  100 days details relating to the Player's Account and Game History. <br>
                                                  (3) In the event that a Player wishes to obtain a complete record of  his Game History, he should contact the Company and, as soon as is  reasonably practicable, the Company shall provide him with the same.<br>                                               </td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text" align="left" height="25" valign="top"><strong>5. Game Rules <a name="s5" id="s5"></a></strong></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top">(C) Sale of Game Plays <br>
                                                  <br>
                                                (1) Each Play shall be sold by the Company for the price stated in the  relevant Game Rules provided however that nothing in these Rules or the  Terms and Conditions shall prevent the Company issuing Plays to Players  without charge to such Players in connection with promotional activity  for the Lottery or as a Prize in a Draw-Based Game Played . <br>
                                                (2) Play Slips are provided for the convenience of Players, and shall  have no monetary or Prize value nor will they constitute evidence of a  Play or of the numbers selected. A Valid Winning Play shall be the only  valid basis for claiming a Prize.<br>
                                                  <br>
                                                (3) Players acknowledge and accept that no Selection will be entered Draw after the relevant Draw Break <br>
                                                  <br>(4) If a Play is not recorded on the Central Computer System that Play is not valid.<br>
                                                  <br>(5)  In registering to open an Account and play the Draw-Based Games Played  , Players acknowledge that the Draw-Based Games are games of chance,  that the outcome of a Play, in the case of Draw-Based Games, is  determined by the selection of Winning Numbers at random with the aid  of mechanical drawing equipment or such other equipment as the Company  may from time to time have determined, and<br>
                                                  that playing the Draw-Based Games Played does not involve the exercise of any skill or judgment by a Player.<br>
                                                  <br>
                                                  (D) Play Purchase and Prize Restrictions <br>
                                                  <br>
                                                  There shall be no general right for any person to purchase a play. No Play may be purchased by or Prize paid to:<br>
                                                  <br>(a) any Minor whether acting on his own behalf or on behalf of another person;<br>
                                                  (b) directors and employees of the Company;<br>
                                                  (c) any person who has an Account the status of which prohibits them  from playing the Draw-Based Games Played or receiving a Prize  (including, without limitation, a person whose Account has been  suspended or terminated);<br>
                                                  (d) any person who is not permitted to play the Draw-Based Games in the jurisdiction in which they are located;<br>
                                                  (g) any person who does not meet the criteria set out in Clause 4(A)(1) of the Terms and Conditions;<br>
                                                  (h) such other persons or category of persons as the Company and the Commission may agree from time to time. <br>
                                                  <br>
                                                  (E) Game Rules <br>
                                                  <br>
                                                  The Game Rules for each Draw-Based Game Played shall contain at least the following information: <br>
                                                  <br>(a) name of the relevant Draw-Based Game;<br>
                                                  (b) price per Play;<br>
                                                  (c) Prize Structure;<br>
                                                  (d) approximate odds of winning each category of Prize;<br>
                                                  (e) method of determining Prize winners; and<br>
                                                  (f) dates and/or frequency of Draws.<br>
                                                  <br>
                                                  (F) Drawings <br>
                                                  <br>
                                                  (1) The Company will determine the time, frequency, date and method of  the Draws for each Draw-Based Game in the relevant Game Rules .<br>
                                                  (2) Each Draw will select winning numbers at random with the aid of  mechanical drawing equipment or such other equipment as the Company may  from time to time determine.<br>
                                                  (3) All Draw-Based Game draws will be conducted in accordance with the  Draw Rules and in the presence of a witness who will be a  representative of State Government.<br>
                                                  (4) In the event that the draw for any Draw-Based Game cannot take  place on the date or at the time fixed, it shall take place as soon as  reasonably practicable thereafter.<br>
                                                  (5) Draws will, as far as practicable, be recorded on a video tape  which will be retained by the Company but failure by the Company to  record the Draw or retain the tape or the partial or total failure of  technical, electronic, or mechanical equipment used<br>
                                                  to record or broadcast the Draw will not invalidate the Draw.<br>
                                                  (6) The Company shall have no obligation to make any payment against any incorrectly announced number at the Draw. <br>
                                                  <br>
                                                  (G) Dissemination of Winning Numbers Information <br>
                                                  <br>
                                                  (1) The results of each Draw will be made available at On Line  Retailers' outlets, on the Site after each Draw. Results will be issued  by the Company to the other media and may also be published in such  other manner as the Company may from time to time determine.<br>
                                                  (2) The information made available and disseminated will be:<br>
                                                  (a) the name or title of the Draw-Based Game;<br>
                                                  (b) the date of the Draw;<br>
                                                  (c) the Winning Numbers;<br>
                                                  (d) the amount payable for each correct Play in each Prize category;<br>
                                                  (e) such other information as the Company may from time to time<br>
                                                  determine.<br>
                                                  (3) The dissemination and publication of Winning Numbers in the media  and at the On Line Retailers' outlets is for information purposes only,  and the Company will not pay a Prize based upon information obtained  from winning number information or any source other than the official  draw results recorded as in Rule 4(E)(4) above and electronically  recorded in the Central Computer System. <br>
                                                  <br>
                                                  (H) Play Validation Requirements <br>
                                                  <br>
                                                  (1) Before a Prize may be paid on any Winners Claim, it must be  validated according to the Play Validation Requirements. TheCompany's  decision as to whether or not the Winners Claim is a Valid Winning Play  shall be final and binding. Without prejudice to the generality of the  foregoing: <br>
                                                  (a) the Company shall declare a Winners Claim invalid, and accordingly shall not pay any Prize, if: <br>
                                                  (ii) the Winners Claim is counterfeit, has been forged in whole or in  part or fails to pass the Company's confidential validation and  security tests; or<br>
                                                  (iii) the claim in respect of the Winners Claim is not received by the  Company by the deadline set by the Company or within the timescale  applicable to the particular Draw-Based Game; or<br>
                                                  (iv) the Ticket Number of a Winners Claim does not appear on the  Company's official records of Valid Winning Plays or the relevant Prize  in relation to the Valid Winning Play with that Ticket Number has been  paid previously; or<br>
                                                  (v) the details associated with the Ticket Number of a Winners Claim do  not match the Company's official records of that Ticket Number;<br>
                                                  or<br>
                                                  (vi) the Company reasonably believes that a winners Claim was purchased  by a member of any of the classes of individuals listed in Rule  4(B)(1).The Company may at its discretion declare a Claimed Play  invalid and accordingly shall not be obliged to pay any Prize if:<br>
                                                  (vi) the Company reasonably believes t(hat the person claiming the  Prize is not the holder of the relevant Account or his duly authorised  representative or that the information provided by the person claiming  the Prize is incomplete or has been altered or<br>
                                                  tampered with; or<br>
                                                  (vii) the winners Claim Play has not been issued or sold by the  Company; or (iii) the Ticket Number or any other unique feature of the  Claimed<br>
                                                  Play does not correspond precisely with those on the Interactive System  in respect of the Draw-Based Game Played to which the Winners Claim  relates and/or the Winners Calim is defective, in whole or in part. <br>
                                                  (2) The Company reserves the right to withhold payment of any Prize  until it is entirely satisfied as to the validity of any Claimed Play  and the good faith of the Claimant, and reserves the right to call for  proof of entitlement to a Prize (including, without limit,<br>
                                                  Identification Information proof of identity and capacity to claim)  <p>(3)The Company reserves the right to photograph any Claimant for its own record. <br>
          <br>
                                                  (I)Responsibility of Players <br>
                                                  <br>
                                                  (1) Each Player is responsible for the safe custody of any information  required to make a claim on a particular Play (including, the relevant  Ticket Number). Failure by a Player to produce sufficient  Identification Information onclaiming a Prize will result in refusal by  the Company to pay the Prize. <br>
                                                  (2) Each Player is responsible for claiming and checking that he receives the full value of the Prize to which he is entitled.<br>
                                                  <br>
                                                  (J) Game Termination <br>
                                                  <br>
                                                  (1) The Company may at any time announce the termination date for an  individual Draw-Based Game. If this occurs no Plays in the relevant  game will be sold after the termination date. <br>
                                                  <br>
                                                  (K) Use of Prize Claim Forms <br>
                                                  <br>
                                                  (1) Notwithstanding the provisions of game rules above, the Company  requires the completion of a Prize Claim Form for any High Tier Prize.  Prize Claim Forms are available from the Retailer outlets. <br>
                                                  (2) The Company may, in its sole discretion, limit the Plays playable  by, or refuse to sell Plays to, any person or persons without giving  reasons, but which may include circumstances in which, in its view,  that person or persons is or are playing in a manner which it deems to  be interfering with other Players' or potential Players' reasonable  access to the relevant games.</p></td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            
                                            <tr>
                                              <td class="dark_blue_text" align="left" height="25" valign="top"><strong>6. General<a name="s7" id="s7"></a></strong></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top">(A) Other Jurisdictions . <br>
                                                Players agree that it is strictly prohibited to play the Games whilst  located within the States in which lottery is banned or prohibited by  law and any other jurisdiction in which it is unlawful to play the  Games and that no Prize shall be paid to any Player in respect of any  Games played whilst the Player was located within such or any such  other jurisdiction. The Company has the right to terminate a Player's  Account and refuse any and all current or future playing of the Games  by him or access by him to the System if the Company suspects or knows  that he has played the Games whilst located within any such other  jurisdiction in which it is unlawful to play the Games. <br>
                                                <br>
                                                (B) Use of Content <br>
                                                (1) For the avoidance of doubt, the Company is the owner or licensee of  the copyright, trade marks and other intellectual property rights in,  to and in respect of the System (including, without limitation, its  content), and the Games, and Players and Prospective Players acquire no  rights therein. Players and Prospective Players knowledge and agree  that they are only permitted to use the Site, and play the Games as  expressly set out in these Terms and Conditions, the applicable Game  Rules. <br>
                                                (2) Prospective Players and Players agree that the Site and the ITZ  Cards and the Games are for their own personal, non-commercial use only  on a single device capable of accessing the Interactive System  (including any device which can access the Internet.<br>
                                                  <br>
                                                 (3) Prospective Players and Players may not:<br>
                                                  <br>(a) copy, disclose, transmit or otherwise make available or remove or alter any material available on the Site .<br>
                                                  (b) reverse engineer or decompile (whether in whole or in part) any  software used in connection with the Site and/or the provision of the  Games (except to the extent expressly<br>
                                                  permitted by applicable law);<br>
                                                  (c) remove, obscure or change any copyright, trade mark or other  intellectual property right notices contained in any material obtained  from the Site as a result of playing the Games.<br>
                                                  <br>
                                                  (C) Warranties and Indemnities <br>
                                                  <br>
                                                  (1) Each Prospective Player and Player warrants that they will only use  their Account, play the Games and use the System in accordance with  these Terms and Conditions and in an appropriate and lawful manner and,  by way of example, that they shall not in connection with using their  Account, playing the Games or using the Interactive System (and shall  not authorise or permit any other party to):<br>
                                                  (a) receive, access or transmit any content which is obscene,  pornographic, threatening, racist, menacing, offensive, defamatory, in  breach of confidence, in breach of any intellectual property right  (including, without limit, copyright) or otherwise bjectionable or  unlawful; or<br>
                                                  (b) knowingly or recklessly transmit any content (including, without  limit, viruses) through the Site which shall cause, or be likely to  cause, detriment or harm, in any degree, to computer systems owned by  the Company or others; or<br>
                                                  (c) hack into, make excessive traffic demands on or cause any  impairment of the functions of any computer system, deliver or forward  chain letters, "junk mail" of any kind, surveys, contests, pyramid  schemes or otherwise engage in any behaviour intended to inhibit others  from playing the Games or using the System or any other website, or  which is otherwise likely to damage the reputation or business of the  Company or of any third party.<br>
                                                  (2) Each Player and Prospective Player agrees to indemnify the Company  against any costs, losses, damages and expenses which the Company may  suffer or incur arising out of or in relation to any claim, legal  proceeding or demand made by any third party due to or arising out of  use of a Player's Account, playing of the Games, access to the  Interactive System, or breach by that Player or Prospective Player of  these Terms and Conditions. <br>
                                                  <br>
                                                  (D) General <br>
                                                  <br>
                                                  (1) Any person who purchases a Play or submits a Play for validation or  who claims a Prize in whatever capacity, agrees to be bound by the  provisions of the Act, any Regulation made thereunder, the provisions  of these Terms and Conditions, the Game Rules (all of these may be  amended from time to time) and any other statements or explanations  issued from time to time by the Company in respect of the relevant  Game. <br>
                                                  (2) Each Prize winner is deemed to acknowledge that, if and to the  extent that the Company is legally obliged to provide a third party  with details of any Prize claimed by or on behalf of, or paid to the  Prize winner, the Company shall be entitled to do so.<br>
                                                  <br>(3)  References to statutory provisions shall be construed as references to  those provisions as respectively replaced, amended or re-enacted from  time to time and shall include any provisions of which they are  re-enactments (whether with or without modification) and any  subordinate legislation made under such provisions.<br>
                                                  <br>(5)  The invalidity or unenforceability of any term of, or any right arising  pursuant to, these Terms and Conditions shall not affect the validity  or enforceability of the remaining terms or rights.
                                                  <p>(6)  Players may not assign (in whole or in part) their obligations under  these Terms and Conditions. Any breach of the prohibition on assignment  may result in the use of a Player's Account, the provision of the Games  and/or access to the System being terminated by the Company forthwith.  The Company may assign these Terms and Conditions in whole or in part  to any third party at its sole discretion.<br>
          <br>
                                                  (E) Liability <br>
                                                  <br>
                                                  (1) Nothing in these Terms and Conditions shall exclude or limit any  person's liability for (a) fraud; (b) death or personal injury caused  by its negligence (as defined in site); (c) any breach of the terms  implied by (d) any other liability which it is not lawfully permitted  to exclude or limit. <br>
                                                  (2) Players acknowledge and agree that in accepting these Terms and  Conditions they do not rely on, and shall have no remedy in respect of,  any statement, representation, warranty or understanding (whether  negligently or innocently made) of any person (whether or not such  person is a party to these Terms and Conditions).<br>
                                                  <br>(4)  Without prejudice to Clauses 6(F)(1) above, the Company shall not in  any circumstances be liable for any loss of whatever nature, including,  without limitation, loss of profits, indirect, special or consequential  loss, suffered or incurred by any Player, any holder or owner of a  Play, any Claimant or any other person arising from the withdrawal of  any Game or from the participation or non-participation of any person  in any Game, including the loss, for whatever reason, of the chance to  participate in such Game. In particular, but without prejudice to the  generality of the foregoing, the Company shall not be liable to any  person:<br>
                                                  <br>(a) for any event beyond the Company's  reasonable control including, but without limitation, any act of God,  war, strike, lockout, industrial action, fire, flood, drought, tempest,  power cut and/or failure or obstruction of any network, broadcasting or<br>
                                                  telecommunications service;<br>
                                                  <br>(b)  for the failure of, or damage or destruction to, or any errors caused  by the Company's computer systems or records (including, without  limitation, the Interactive System and the Central Computer System), or  any part thereof;<br>
                                                  <br>(c) for delays, losses, errors or omissions in or made by the postal or other delivery service;<br>
                                                  <br>(d) for any other action or event which prevents or hinders the issue of a valid Play;<br>
                                                  <br>(e)  for the refusal to sell a Play to any person in accordance with the  relevant Game Rules or to allow any person to play a Game;<br>
                                                  <br>(f)  for any losses caused by Players including misuse or unauthorised use  of Passwords, money lost by playing the Games and failure or  malfunction of the equipment or technology of the relevant Player or  his internet service provider.<br>
          <br>
                                                  (F) Decisions of the Company Binding <br>
                                                  <br>
                                                  The exercise by the Company of any discretion contained in these Terms and Conditions shall be final and binding. <br>
                                                  <br>
                                                  (G) Law <br>
                                                  <br>
                                                  These Terms and Conditions and the rights and obligations of the  Company and Players set out herein shall be governed by and construed  in all respects in accordance with the laws of India and the parties  hereby submit to the exclusive jurisdiction of the Mumbai courts </p></td>
                                            </tr>
                                            <tr>
                                              <td align="left" height="13" valign="top">&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                            <tr>
                                              <td class="dark_blue_text_justify" align="left" height="13" valign="top"><strong>Contact Numbers &amp; Addresses </strong><br>
                                                  <br>
                                                TELEPHONE ENQUIRIES <br>
                                                Tel:1800-22-9292/9393 (Toll Free Number)<br>
                                                Complaints or comments should also be directed to the above number. <br>
                                                <br>
                                                Address<br>
                                                Pan India Network Ltd.<br>
                                                135, 2nd Floor Continental Bldg. Dr. Annie Besant Road<br>
                                                Worli Mumbai - 400018<br>
                                                India <br>
                                                <br>
                                                E-MAIL : <a href="mailto:feedback@playwin.esselgroup.com" class="dark_blue_link"><strong>feedback@playwin.esselgroup.com</strong></a><br>
                                                WEBSITE : <a href="http://www.myplaywin.com" target="_blank" class="dark_blue_link"><strong>www.myplaywin.com</strong></a></td>
                                            </tr>
                                            <tr>
                                              <td align="right" height="13" valign="top"></td>
                                            </tr>
                                          </tbody></table>
                                          </td>
                                        </tr>
                                      </tbody>
               </table>
        </div>
    </div>
</div>