/* Layout */

.navbar-layout {
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar-layout .load-panel.dx-loadpanel-content {
    background: transparent;
    border: none;
}

.navbar-layout .layout-header {
    position: absolute;
    width: 100%;
}

.navbar-layout .layout-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.navbar-layout .layout-content > div,
.navbar-layout .transition-frame {
    position: absolute;
    height: 100%;
    width: 100%;
}

.navbar-layout .layout-footer {
    width: 100%;
    position: absolute;
}

/* ios */

.dx-theme-ios .navbar-layout .layout-header {
    top: 0;
    height: 44px;
}

.dx-theme-ios .navbar-layout .layout-content {
    top: 44px;
    bottom: 0;
}

.dx-theme-ios .navbar-layout .layout-content.has-navbar {
    bottom: 59px;
}

.dx-theme-ios .navbar-layout .layout-footer {
    height: 59px;
    bottom: 0;
}

.dx-theme-ios .navbar-layout .view-footer {
    position: static;
}

.dx-theme-ios .navbar-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
    margin-bottom: 10px;
}

.dx-theme-ios .navbar-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios .navbar-layout .view-footer .dx-toolbar {
    height: 57px;
}

.dx-theme-ios .navbar-layout .view-footer .dx-button {
    width: 97%;
    overflow: visible;
}

.dx-theme-ios .navbar-layout .view-footer .dx-button .dx-button-content {
    height: 44px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dx-theme-ios .navbar-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* ios7 */

.dx-theme-ios7 .navbar-layout .layout-header {
    top: 0;
    height: 44px;
}

.dx-theme-ios7 .navbar-layout .layout-content {
    top: 44px;
    bottom: 0;
}

.dx-theme-ios7 .navbar-layout .layout-content.has-navbar {
    bottom: 59px;
}

.dx-theme-ios7 .navbar-layout .layout-footer {
    height: 59px;
    bottom: 0;
}

.dx-theme-ios7 .navbar-layout .view-footer {
    position: static;
}

.dx-theme-ios7 .navbar-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
    margin-bottom: 10px;
}

.dx-theme-ios7 .navbar-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-toolbar {
    height: 57px;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-button {
    width: 97%;
    overflow: visible;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-button .dx-button-content {
    height: 44px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* android */

.dx-theme-android .navbar-layout .layout-header #navBar {
    top: 0;
    height: 78px;
    border-bottom: 1px solid #09c;
}

.dx-theme-android .navbar-layout .layout-content {
    top: 0;
    bottom: 0;
}

.dx-theme-android .navbar-layout .layout-content.has-toolbar {
    bottom: 40px;
}

.dx-theme-android .navbar-layout .layout-content.has-navbar {
    top: 78px;
}

.dx-theme-android .navbar-layout .layout-footer {
    bottom: 0;
    height: 40px;
    display: none;
}

.dx-theme-android .navbar-layout .layout-footer.has-toolbar {
    display: block;
}

.dx-theme-android .navbar-layout .dx-tabs.dx-navbar {
    height: 100%;
    padding: 0;
}

/* win8 */

.dx-theme-win8 .navbar-layout-tablet {
    height: 100%;
}

.dx-theme-win8 .navbar-layout-tablet .layout-header,
.dx-theme-win8 .navbar-layout-tablet .layout-content {
    position: static;
    width: auto;
}

.dx-theme-win8 .navbar-layout-tablet .layout-content {
    height: 100%;
}

.dx-theme-win8 .navbar-layout-tablet  {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 104px 1fr;
    overflow: hidden;
}

.dx-theme-win8 .navbar-layout-tablet .layout-header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    height: 180px;
    padding: 60px; /* #B230682 */
}

.dx-theme-win8 .navbar-layout-tablet .layout-header h1 {
    margin-bottom: 40px;
}

.dx-theme-win8 .navbar-layout-tablet .layout-content-wrapper {
    padding: 0 60px 60px 60px; /* #B230682 */
    /* for IE */
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    padding: 110px 60px 60px 60px\9; /* #B230682 */
    /* end for IE */
}

/* Windows phone 8 */
.dx-theme-win8phone {
    background: #000;
}

.dx-theme-win8 .navbar-layout-phone {
    height: 100%;
}

.dx-theme-win8 .navbar-layout-phone .layout-content.has-toolbar-bottom {
}

.dx-theme-win8 .navbar-layout-phone .dx-toolbar.layout-toolbar-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.dx-theme-win8 .navbar-layout-phone .dx-toolbar.layout-toolbar-bottom.semi-hidden {
    margin-bottom: -20px;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.dx-theme-win8 .navbar-layout-phone .layout-content {
    top: 45px;
}

.dx-theme-win8 .navbar-layout-phone .layout-content.has-toolbar-bottom {
    overflow: hidden;
    width: 100%;
    bottom: 40px;
    position: absolute;
}

.dx-theme-win8 .navbar-layout-phone .dx-toolbar {
    height: 60px;
}

.dx-theme-win8 .navbar-layout-phone .layout-header .dx-toolbar {
    opacity: 1;
}
