html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #2a2a2a;    
    color: #a6a6a6;
    font: 12px sans-serif;
    text-align: center;
}

img {
    border: 0;
}

a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.dx-simulator
{
    margin: auto;
}


.qr-container
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    text-align: center;
}

.qr-container img
{
    width: 140px;
    height: 140px;
}

.qr-container .hint
{
    padding: 14px 14px 0;
}



#deviceSwitcher {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: left;
}